*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    font-family: 'Jost', 'Noto Sans', sans-serif;
    background-color: #0d0e13;
    display: flex;
}

#map {
    background: #151a25;
    flex: 1;
    height: 100vh;
    z-index: 0;
}

.side-panel {
    position: relative;
    flex-shrink: 0;
    padding: 12px;
    height: 100vh;
    width: 250px;
    background-color: #0d0e13;
    box-sizing: border-box;
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: grab;
    user-select: none;
}

.seven-bg {
    background-color: #4a0083;
}

.six-plus-bg {
    background-color: #80142f;
}

.six-minus-bg {
    background-color: #8f0d34;
}

.five-plus-bg {
    background-color: #a11717;
}

.five-minus-bg {
    background-color: #c22b2b;
}

.four-bg {
    background-color: #c27b2b;
}

.three-bg {
    background-color: #e2b63e;
}

.two-bg {
    background-color: #008369;
}

.one-bg {
    background-color: #007a9c;
}

.null-bg {
    background-color: #4a4a4a;
}


.latest-card_magnitude.investigate-text,
.latest-card_depth.investigate-text {
    font-size: 20px;
}

.side-panel p, h2 {
    color: #fff;
}

.latest-card {
    background-color: #1f2737;
    padding: 12px;
    border-radius: 20px;
}

.latest-card p {
    margin: 0;
}

.latest-card_title {
    font-size: 13px;
}

.latest-card_tsunami {
    font-size: 18px;
    background-color: #3e506d;
    text-align: center;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0 0 8px #00000080;
    margin: 12px 0;
    font-weight: 500;
}

.latest-card_date {
    font-size: 13px;
}

.latest-card_location {
    font-size: 19px;
    color: #ccc;
}

.latest-card_comment {
    font-size: 13px;
}

.latest-card_maxscale {
    margin: 12px 0;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    padding: 0 24px;
    box-shadow: 0 0 8px #00000080;
}

.scale_modifier {
    font-size: 20px;
}

.latest-card_maxscale-label {
    font-size: 20px;
    font-weight: 500;
}

.latest-card_maxscale-txt {
    font-size: 45px;
    font-weight: 500;
}

.latest-card_hypo-params {
    background-color: #2a364c;
    border-radius: 8px;
    box-shadow: 0 0 8px #0000004b;
    display: flex;
    flex-direction: column;
    padding: 5px 12px;
    height: 92px;
    box-sizing: border-box;
}

.latest-card_hypo-params_label {
    font-size: 12px;
}

.latest-card_hypo-params_txt {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0;
}

.latest-card_magnitude,
.latest-card_depth {
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 28px;
    font-weight: 450;
}

.eq-history {
    margin-top: 12px;
    background-color: #1f2737;
    padding: 12px;
    border-radius: 20px;
}

.eq-history p {
    margin: 0;
}

.eq-history_title {
    font-size: 13px;
}

.eq-history_content {
    margin-top: 12px;
    display: flex;
    gap: 12px;
}

.eq-history_maxscale {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    width: 58px;
    height: 58px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.eq-history_maxscale p {
    color: #fff;
}

.eq-history_maxscale.dark-text p {
    color: #000;
}

.eq-history_elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
}

.eq-history_date {
    font-size: 11px;
}

.eq-history_param {
    display: flex;
    gap: 12px;
}

.eq-history_param_magnitude, .eq-history_param_depth {
    font-size: 13px;
}

.eq-history_location {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #444444; 
}

::-webkit-scrollbar-track {
    background: #0d0e13;
    border-radius: 6px;
}

.leaflet-control-zoom,
.leaflet-control-zoom-reset {
    border: none !important;
    border-radius: 8px !important;
    overflow: hidden;
    box-shadow: 0 0 8px #00000080;
}

.leaflet-control-zoom a {
    background-color: #1f2737 !important;
    color: #ffffff !important;
    border: none !important;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px !important;
    font-size: 18px !important;
}

.leaflet-control-zoom a:hover {
    background-color: #3a3f4b !important;
    color: #ffffff !important;
}

.leaflet-control-zoom-reset {
    background-color: #1f2737 !important;
    color: #ffffff !important;
    display: block;
    width: 32px !important;
    height: 32px !important;
    line-height: 32px !important;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    background-image: url('./source/reset.png') !important;
    background-size: 35px 35px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer !important;
}

.leaflet-control-zoom-reset:hover {
    background-color: #3a3f4b !important;
    color: #ffffff !important;
}

.leaflet-control-scale-line {
    background-color: #1e2127 !important;
    color: #aaaaaa !important;
    border: 1px solid #6f7479 !important;
    border-top: none !important;
    font-size: 11px !important;
    padding: 2px 6px !important;
    text-shadow: none !important;
    border-radius: 0 0 5px 5px;
    font-family: 'jost', 'noto sans', sans-serif !important;
    cursor: default;
}

.leaflet-control-attribution {
    background-color: #1e2127 !important;
    color: #aaaaaa !important;
    font-size: 11.7px !important;
    margin: 0 5px 5px 0 !important;
    padding: 4px 10px !important;
    border-radius: 4px;
    font-family: 'jost', 'noto sans', sans-serif !important;
}

.leaflet-control-attribution a {
    color: #aaaaaa !important;
}

.leaflet-control-attribution a:hover {
    color: #ffffff !important;
}